p
{
	color: darkgreen;
	font-size: 12px;
	text-decoration: line-through;
}

h1
{
	color: #008000;
	background-color: #888888;
	text-transform: uppercase;
	margin: 20px;
	padding: 40px;
	border: 5px dashed red;
}

h2
{
	color: darkgreen;
	text-decoration: underline;
}

body
{
	font-family: sans-serif;
}

#Intro
{
	border: 1px solid black;
}

.Spotlight
{
	background-color: #FEFE22;
}